header#header(
  x-data='{ thumb: false }'
  class='h-64 mb-10 flex justify-center items-center border-b border-b-solid border-b-h-200 dark:border-b-h-700 lg:mb-16')
  #{`s_${type}_rep_thumbnail`}
    .img(
      x-init='thumb = true'
      class='absolute right-0 top-0 w-full h-64 before:backdrop-blur before:content-[""] before:absolute before:right-0 before:top-0 before:w-full before:h-64 before:bg-h-900/50 before:z-10')
      img.thumb(
        src=`[##_${type}_rep_thumbnail_url_##]`
        alt=''
        class='absolute right-0 top-0 w-full h-64 z-0 object-cover')
  .info(
    :class='{ "text-h-200": thumb }'
    class='flex flex-col items-center gap-y-3 z-20 relative mx-4 text-h-800 dark:text-h-200 lg:mx-0')
    h1.tit(class='text-center font-bold text-2xl lg:text-3xl') #{`[##_${type}_rep_title_##]`}
    .desc(class='flex gap-x-1 text-sm')
      time.date #{`[##_${type}_rep_date_##]`}
      span.delimiter ·
      unless hasCategory
        case type
          when 'notice'
            a.category(class='/notice') 공지사항
      else
        a.category(href='[##_article_rep_category_link_##]') [##_article_rep_category_##]
      if hasCategory
        include Header/Admin
