doctype html

html#hELLO(
  x-data='{ loading: true }'
  x-init='setTimeout(() => loading = false, 100)'
  lang='ko'
  class='scroll-smooth')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width')

    title [##_page_title_##] — [##_title_##]

    link(rel='alternate' type='application/rss+xml' title='[##_title_##]' href='[##_rss_url_##]')

    style(fixed).
      :root {
        --h-permalink-width: [##_var_permalink-width_##]px;
      }

    script(fixed).
      window.skinOptions = {
        theme: '[##_var_theme_##]',
        permalinkWidth: '[##_var_permalink-width_##]',
        sidebar: '[##_var_sidebar_##]',
        foldableCategory: '[##_var_foldable-category_##]',
        foldableReply: '[##_var_foldable-reply_##]',
        scrollspy: '[##_var_scrollspy_##]',
        toc: '[##_var_toc_##]',
        hljs: '[##_var_hljs_##]',
        hljsDark: '[##_var_hljs-dark_##]',
        relatedArticle: '[##_var_related-article_##]',
        author: '[##_var_author_##]'
      }

  script(fixed).
    if (! ('TTDARK' in localStorage)) {
      if (window.matchMedia("(prefers-color-scheme: dark)").matches || "[##_var_theme_##]" === "dark") {
        localStorage.TTDARK = 'Y'
      } else {
        localStorage.TTDARK = 'N'
      }
    }

    window.TTDARK = localStorage.TTDARK === 'Y'

    document.documentElement.classList.toggle("dark", TTDARK)

  script.
    document.addEventListener('alpine:init', () => Alpine.store('darkMode', TTDARK))

  link(rel='preload' as='style' href='//fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap' onload="this.rel='stylesheet';this.onload=null;")
  link(rel='preload' as='style' href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css' onload="this.rel='stylesheet';this.onload=null;")
  link(rel='preload' as='style' href='//cdn.jsdelivr.net/gh/wan2land/d2coding/d2coding-subset.css' onload="this.rel='stylesheet';this.onload=null;")

  link(rel='stylesheet' x-data :href='`//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.7.0/build/styles/${$store.darkMode ? skinOptions.hljsDark : skinOptions.hljs}.min.css`')

  style
    include:postcss @/app.css

  body(
    id='[##_body_id_##]'
    class='min-w-xs overflow-x-hidden bg-h-100 text-h-900 dark:bg-h-800 dark:text-h-200')
    include views/Loader

    block TIDORY

    script.
      window.addEventListener('DOMContentLoaded', () => Alpine.start())
