mixin form(type)
  div(class=`${type}-form form`)
    #{`s_${type}_input_form`}
      .form__shadow
        textarea(name=`${type === 'guest' ? '[##_guest_textarea_body_##]' : '[##_rp_input_comment_##]'}`)
        div(class=`${type}-form-control form-control`)
          input#secret(type='checkbox' name=`[##_${type}_input_is_secret_##]`)
          label(for='secret')
          a(href='#' onclick=`[##_${type}_onclick_submit_##]`)

style
  :stylus
    $background = #f8f8f8
    $icons = {
      'a::before': '\f0ab', // Submit
      'input[type=checkbox]:checked + label::before': '\f023' // Secret:locked
      'label::before': '\f13e' // Secret:unlocked
    }

    .form
      overflow hidden
      background $background
      margin-top 25px
      border-radius 16px
      box-sizing border-box
      height 200px
      padding 20px
      position relative
      .form__shadow
        box-sizing border-box
        textarea
          border none
          outline none
          background none
          resize none
          height 110px
          padding 0
          padding-right 40px
          width 640px + 20px
          overflow-x hidden
          overflow-y scroll
          box-sizing border-box
          font-size .92rem
      @media screen and (max-width: 690px)
        height 160px
        width 100%
        .form__shadow
          textarea
            width 100vw
            height 75px
            padding-right 67px
      .form-control
        position absolute
        right 20px
        bottom 10px
        > *
          margin-left 20px
        input[type=checkbox]
          display none
        a
          &::before
            font-size 2rem
        for $k, $i in $icons
          {$k}
            font-family 'Font Awesome 5 Pro'
            font-weight 600
            content $i
            color alpha(black, .9)

style
  :stylus
    html[data-theme='dark']
      .form
        background-color #292a2d
        textarea
          color white
        .form-control
          a::before,
          input[type=checkbox]:checked + label::before,
          label::before
            color white !important
