mixin form(type)
  div(class=`${type}-form form`)
    #{`s_${type}_input_form`}
      textarea(name=`${type === 'guest' ? '[##_guest_textarea_body_##]' : '[##_rp_input_comment_##]'}`)
      div(class=`${type}-form-control form-control`)
        input#secret(type='checkbox' name=`[##_${type}_input_is_secret_##]`)
        label(for='secret')
        a(href='#' onclick=`[##_${type}_onclick_submit_##]`)

style
  :stylus
    $background = #f8f8f8
    $icons = {
      'a::before': '\f0ab', // Submit
      'input[type=checkbox]:checked + label::before': '\f023' // Secret:locked
      'label::before': '\f13e' // Secret:unlocked
    }

    .form
      overflow hidden
      background $background
      margin-top 25px
      border-radius 16px
      box-sizing border-box
      height 200px
      padding 25px
      textarea
        border none
        outline none
        background none
        resize none
        width 100%
        height 110px
        padding 0
      @media screen and (max-width: 720px)
        height 150px
        padding 15px
        textarea
          width 100%
          max-width 100%
          height 75px
      .form-control
        float right
        > *
          margin-left 20px
        input[type=checkbox]
          display none
        a
          &::before
            font-size 2rem
        for $k, $i in $icons
          {$k}
            font-family 'Font Awesome 5 Pro'
            font-weight 600
            content $i
            color alpha(black, .9)
