mixin comment(type, isReplyable = true)
  div(class=`[##_${type}_rep_class_##]`)
    if isReplyable
      .line
    .header
      .user
        .pic: img(src=`[##_${type}_rep_logo_##]`)
        .metainfo
          .name #{`[##_${type}_rep_name_##]`}
          time.date #{`[##_${type}_rep_date_##]`}
    .body #{`[##_${type}_rep_desc_##]`}
    .control
      a(href='#' onclick=`[##_${type}_rep_onclick_delete_##]`) 수정/삭제
      if isReplyable
        a(href='#' onclick=`[##_${type}_rep_onclick_reply_##]`) 댓글쓰기

mixin list(type, rType)
  div(class=`${type}-list list`)
    #{`s_${type}_container`}
      ol
        #{`s_${type}_rep`}
          li(id=`[##_{${type}_rep_id_##]`)
            +comment(type)
            #{`s_${rType}_container`}
              ol
                #{`s_${rType}_rep`}
                  li(id=`[##_${type}_rep_id_##]`)
                    +comment(type, false)

script.
  // Move comment report to control area
  $('.list > ol > li .header').each(function () {
    const $report = $(this).find('.metainfo > .date > a')
    $(this).parent().find('.control').append($report)
  })

style
  :stylus
    $imgSize = 60px
    $imgPaddingRight = 15px

    .list
      padding-top 35px
      width 670px
      margin 0 auto

      ol
        display flex
        flex-direction column-reverse
        li
          padding 5px 0
          position relative
          .line
            position absolute
            width 1px
            height 100%
            background-color alpha(black, .1)
            left ($imgSize / 2)
            z-index 1
          .header
            overflow hidden
            .user
              float left
              overflow hidden
              > div
                float left
              .pic
                margin-right $imgPaddingRight
                img
                  border-radius 50%
                  width $imgSize
                  height $imgSize
                  position relative
                  z-index 2
              .metainfo
                .name
                  font-size 1rem
                  font-weight 600
                  a
                    color alpha(black, .9) !important
                  .tistoryProfileLayerTrigger
                    display none
                .date
                  color alpha(black, .3)
                  font-size .85rem
          .control
            padding-left $imgSize + $imgPaddingRight
            margin 10px 0
            a
              display inline-block
              margin-right 5px
              font-size .8rem
          .body
            padding-top 10px
            padding-bottom 5px
            padding-left $imgSize + $imgPaddingRight
            line-height 1.8em
            color alpha(black, .7)
            font-size .95rem
          ol
            padding-top 5px !important
            li
              padding-left $imgSize + $imgPaddingRight
      @media screen and (max-width: 720px)
        width 100%
