mixin comment(type, isReplyable = true)
  div(class=`[##_${type}_rep_class_##]`)
    .header
      .user
        .pic: img(src=`[##_${type}_rep_logo_##]`)
        .metainfo
          .name #{`[##_${type}_rep_name_##]`}
          time.date #{`[##_${type}_rep_date_##]`}
    .body #{`[##_${type}_rep_desc_##]`}
    .control
      a(href='#' onclick=`[##_${type}_rep_onclick_delete_##]`) 수정/삭제
      if isReplyable
        a(href='#' onclick=`[##_${type}_rep_onclick_reply_##]`) 댓글쓰기

mixin list(type, rType)
  div(class=`${type}-list content__list`)
    #{`s_${type}_container`}
      ol
        #{`s_${type}_rep`}
          li(id=`[##_{${type}_rep_id_##]`)
            +comment(type)
            #{`s_${rType}_container`}
              ol
                #{`s_${rType}_rep`}
                  li(id=`[##_${type}_rep_id_##]`)
                    +comment(type, false)

script.
  /**
   * Copy report button to form control
   */
  $(document).ready(() => {
    $('.content__list > ol > li .header').each(function () {
      const $report = $(this).find('.metainfo > .date > a')
      $(this).parent().find('.control').append($report)
    })
  })

style
  :stylus
    $imgSize = 48px
    $imgPaddingRight = 12px

    .content__list
      padding-top 35px
      .tt_more_preview_comments_wrap
        margin 0 auto
        margin-top 85px
        background-color #353638
        color white
        display inline-block
        border-radius 25px
        font-size .9rem
        padding 8px 18px
        font-weight 500
        box-sizing border-box
        &::before
          all unset
        &::after
          content '\f0ab'
          font-family 'Font Awesome 5 Pro'
          font-weight 600
          margin-left 10px
          font-size 1.1rem
      > ol
        display flex
        flex-direction column-reverse
        > li
          padding 5px 0
          position relative
          &::before
            content ''
            position absolute
            width 1px
            height 100%
            background-color alpha(black, .1)
            left ($imgSize / 2)
            z-index 1
          .header
            overflow hidden
            .user
              float left
              overflow hidden
              > div
                float left
              .pic
                margin-right $imgPaddingRight
                img
                  border-radius 50%
                  width $imgSize
                  height $imgSize
                  position relative
                  z-index 2
              .metainfo
                .name
                  font-size 1rem
                  font-weight 600
                  color alpha(black, .9)
                  a
                    color alpha(black, .9)
                  .tistoryProfileLayerTrigger
                    display none
                .date
                  color alpha(black, .3)
                  font-size .85rem
          .control
            padding-left $imgSize + $imgPaddingRight
            margin 10px 0
            a
              display inline-block
              margin-right 5px
              font-size .8rem
          .body
            padding-top 15px
            padding-bottom 5px
            padding-left $imgSize + $imgPaddingRight
            line-height 1.8em
            color alpha(black, .7)
            font-size .95rem
          > ol
             > li
              padding-top 10px
              padding-left $imgSize + $imgPaddingRight
      @media screen and (max-width: 1200px)
        .tt_more_preview_comments_wrap
          display block
          width 100%
          margin-top 35px

style
  :stylus
    html[data-theme='dark']
      .content__list
        .tt_more_preview_comments_wrap
          background-color #353638
          &:hover
            background-color #53575c
        > ol li
          &::before
            background-color alpha(white, .5)
        .header
          .user
            .metainfo
              .name
                color white
                a
                  color white
              .date
                color alpha(white, .8)
        .body
          color white
