mixin notify(type, label, pos)
  #{`s_article_${type}`}
    a.permalink__notify(href=`[##_article_${type}_link_##]` class='uk-box-shadow-medium' id=type)
      #{`s_article_${type}_thumbnail`}
        img.thumbnail.lazyload(src=`[##_article_${type}_thumbnail_link_##]` alt=`[##_article_${type}_title_##]`)
        //- img(src='https://t1.daumcdn.net/tistory_admin/static/mobile/m640/img_relation.png')
      .metainfo
        .description #{label}
        .title #{`[##_article_${type}_title_##]`}

+notify('next', '다음 글', 'bottom-right')
+notify('prev', '이전 글', 'bottom-left')

script.
  /* Notification */
  $(document).ready(() => {
    setTimeout(() => {
      h.Permalink.setNotification('#next', '.thumbnail', 'bottom-right', 15000)
      h.Permalink.setNotification('#prev', '.thumbnail', 'bottom-left', 15000)
    }, 3000)
  })
