if process.env.NODE_ENV === 'development'
  template(x-teleport='.contents_style > .container_postbtn')
    button.btn_menu_toolbar.btn_subscription(
      type='button'
      class='#subscribe'
      data-blog-id='3751118'
      data-url='https://pronist.tistory.com/5'
      data-device='web_pc')
      em.txt_state 구독하기
      strong.txt_tool_id hELLO.
      span.img_common_tistory.ico_check_type1

style(once='content-subscription-button')
  :postcss
    #content {
      .container_postbtn {
        .btn_subscription {
          @apply border-0 ml-2 mr-0;

          .txt_state {
            @apply text-[0] bg-none !important;
          }

          .txt_tool_id,
          .ico_check_type1 {
            @apply hidden;
          }

          &::before {
            @apply fa-star font-bold text-sm;
          }
        }
      }
    }
