mixin guest(type)
  .name(class='grow')
    label.label(for='name') 이름
    input#name.input(
      autocomplete='off'
      type='text'
      placeholder='이름'
      name=`[##_${type}_input_name_##]`
      value='[##_guest_name_##]')
  .password(class='grow')
    label.label(for='password') 암호
    input#password.input(
      autocomplete='off'
      type='password'
      maxlength='8'
      placeholder='비밀번호'
      name=`[##_${type}_input_password_##]`
      value='[##_guest_password_##]')

mixin replyForm(type)
  #form(x-data='form')
    template(x-if='code === codes.INVALID_HOST')
      a.warning(:href='TistoryBlog.tistoryUrl+tiara.entry.plink')
        i.ico
        span.txt 이 블로그는 개인 도메인을 사용 중입니다. 댓글을 작성하려면 티스토리로 이동해주세요.
    template(x-if='code === codes.NEEDS_LOGIN')
      a.warning(:href='T.config.LOGIN_URL')
        i.ico
        span.txt 이 블로그는 로그인한 사용자에게만 댓글을 허용했습니다.
    template(x-if='code === codes.OK')
      #{`s_${type}_input_form`}
        .wrap(class='flex flex-col gap-y-2')
          .write(class='p-5 w-full overflow-hidden rounded-lg box-border h-32 relative bg-h-200 dark:bg-h-700')
            label.label(
              for='comment'
              class='text-hidden') 댓글
            textarea#comment.textarea(
              name=`${type === 'guest' ? '[##_guest_textarea_body_##]' : '[##_rp_input_comment_##]'}`
              class='border-0 resize-none p-0 pr-5 h-full overflow-x-hidden overflow-y-scroll text-sm box-border outline-none w-[calc(100%+theme(spacing.10))] bg-h-200 text-h-500 dark:text-h-200 dark:bg-h-700')
          .controls(class='flex justify-end gap-x-2')
            if process.env.NODE_ENV === 'development'
              +guest(type)
            else
              #{`s_${type}_member`}
                #{type === 'guest' ? 's_guest_form' : 's_rp_guest'}
                  +guest(type)
            .secret(x-data='{ secret: false }')
              input#secret.input(
                type='checkbox'
                name=`[##_${type}_input_is_secret_##]`
                class='hidden')
              label.label(
                @click='secret = ! secret'
                for='secret')
                span.txt 비밀글
                i.ico(:class='{ "fa-lock": secret, "fa-lock-open": ! secret }')
            button.submit(
              type='submit'
              onclick=`[##_${type}_onclick_submit_##]`)
              span.txt 댓글쓰기
              i.ico(class='fa-paper-plane')

script.
  document.addEventListener('alpine:init', () => Alpine.data('form', () => ({
    /**
     * @var {object} codes
     */
    codes: {
      OK: '000',
      INVALID_HOST: '001',
      NEEDS_LOGIN: '002'
    },

    /**
     * @var {string} code
     */
    code: '',

    /**
     * Init
     */
    init () {
      this.code = this.canWriteComment()
    },

    /**
     * Can write comment?
     *
     * @return {string}
     */
    canWriteComment () {
      if (! /^(.*\.tistory\.com)$/.test(location.hostname)) {
        return this.codes.INVALID_HOST
      }

      if (! T.config.NEED_COMMENT_LOGIN) {
        return this.codes.OK
      }

      if (! T.config.IS_LOGIN) {
        return this.codes.NEEDS_LOGIN
      }

      return this.codes.OK
    }
  })))

style
  :postcss
    #tt-body-page,
    #tt-body-guestbook {
      #form {
        .warning {
          @apply block text-sm p-4 mb-2 w-full rounded-lg box-border relative bg-h-200 text-h-500 dark:text-h-200 dark:bg-h-700;

          .ico {
            @apply before:fa-triangle-exclamation mr-2;
          }
        }

        .controls {
          .name,
          .password {
            .input {
              @apply rounded-md px-3 border-0 inline-block outline-none h-10 w-full text-xs;
              @apply text-h-500 bg-h-200 dark:text-h-200 dark:bg-h-700;
            }

            .label {
              @apply text-hidden;
            }
          }

          .secret > .label,
          .submit {
            @apply cursor-pointer m-0 p-0 w-10 h-10 min-w-[theme(spacing.10)] rounded-lg flex justify-center items-center text-[0] outline-0 border-0;
            @apply bg-h-200 hover:bg-h-300 dark:bg-h-700 dark:hover:bg-h-600;

            .ico {
              @apply text-sm leading-none text-h-500 dark:text-h-200;
            }
          }

          .txt {
            @apply text-hidden;
          }
        }
      }
    }
