mixin coverHeader()
  header.header
    h1.tit(class='flex items-center empty:hidden font-semibold h-48 lg:h-64 text-2xl lg:text-3xl text-h-600 dark:text-h-200') [##_cover_title_##]

mixin coverItem()
  s_cover_item
    .post&attributes(attributes)
      block

mixin coverImage()
  s_cover_item_thumbnail
    a.img(href='[##_cover_item_url_##]')
      img.thumb(
        data-src='[##_cover_item_thumbnail_##]'
        data-sizes='auto'
        alt=''
        class='lazyload')&attributes(attributes)

mixin coverDescriptionIfContent()
  .info&attributes(attributes)
    .tit
      a.link(href='[##_cover_item_url_##]') [##_cover_item_title_##]
    .desc
      time.date [##_cover_item_simple_date_##]
      span.delimiter ·
      a.category(href='[##_cover_item_category_url_##]') [##_cover_item_category_##]
    .summary [##_cover_item_summary_##]

mixin coverDescriptionIfNotContent()
  .info&attributes(attributes)
    .tit
      a.link(href='[##_cover_item_url_##]') [##_cover_item_title_##]
    .summary [##_cover_item_summary_##]

mixin coverDescription()
  s_cover_item_article_info
    +coverDescriptionIfContent()&attributes(attributes)
  s_cover_item_not_article_info
    +coverDescriptionIfNotContent()&attributes(attributes)

mixin cover(mode)
  section.cover(
    data-mode=mode
    class='flex flex-col items-center')
    block

mixin coverList(mode)
  +cover(mode)
    +coverHeader()
    .posts
      +coverItem()
        +coverImage()
        +coverDescription()

mixin coverSlideshow(mode)
  +cover(mode)
    +coverHeader()
    .slideshow(class='swiper')
      .posts(class='swiper-wrapper')
        +coverItem()(class='swiper-slide')
          +coverImage()
          +coverDescription()
      .next(class='swiper-button-next')
      .prev(class='swiper-button-prev')

s_cover_group
  #covers(class='flex flex-col gap-y-8 lg:gap-y-12')
    s_cover_rep
      s_cover(name='gallery')
        +coverList('gallery')
      s_cover(name='poster')
        +coverList('gallery poster')
      s_cover(name='list')
        +coverList('list')
      s_cover(name='grid')
        +coverList('grid')
      s_cover(name='zigzag')
        +coverList('zigzag')
      s_cover(name='slideshow')
        +coverSlideshow('slideshow')
      s_cover(name='slider')
        +coverSlideshow('slideshow slider')
