mixin coverItem()
  s_cover_item
    .post&attributes(attributes)
      block

mixin coverImage()
  s_cover_item_thumbnail
    a.img(href='[##_cover_item_url_##]')
      img.thumb(
        data-src='[##_cover_item_thumbnail_##]'
        data-sizes='auto'
        alt=''
        class='lazyload object-cover bg-h-100')&attributes(attributes)

mixin coverDescriptionIfContent()
  .info(class='flex flex-col')&attributes(attributes)
    .tit
      a.link(
        href='[##_cover_item_url_##]'
        class='text-h-800 dark:text-h-200') [##_cover_item_title_##]
    .desc(class='flex gap-x-1 text-sm')
      time.date(class='text-h-400') [##_cover_item_simple_date_##]
      a.category(
        href='[##_cover_item_category_url_##]'
        class='text-sm text-h-400') · [##_cover_item_category_##]
    .summary(class='relative overflow-hidden leading-7 text-sm text-h-500 dark:text-h-400') [##_cover_item_summary_##]

mixin coverDescriptionIfNotContent()
  .info(class='flex flex-col')&attributes(attributes)
    .tit
      a.link(
        href='[##_cover_item_url_##]'
        class='text-h-800 dark:text-h-200') [##_cover_item_title_##]
    .summary [##_cover_item_summary_##]

mixin coverDescription()
  s_cover_item_article_info
    +coverDescriptionIfContent()&attributes(attributes)
  s_cover_item_not_article_info
    +coverDescriptionIfNotContent()&attributes(attributes)

mixin coverList(mode)
  section.cover(
    data-mode=mode
    class='flex flex-col items-center')
    header.header(class='my-10 empty:my-10 lg:my-20')
      h1.tit(class='text-3xl font-bold text-h-600 dark:text-h-200') [##_cover_title_##]
    .posts(class='w-full px-4 lg:px-0 lg:w-idx lg:mx-auto')
      +coverItem()
        +coverImage()
        +coverDescription()

mixin coverSlideshow()
  section.cover(
    data-mode='slideshow'
    class='gap-y-10')
    .slideshow(
      class='swiper w-full h-screen')
      .posts(class='swiper-wrapper')
        +coverItem()(class='swiper-slide')
          +coverImage()
          +coverDescription()
      .next(class='swiper-button-next')
      .prev(class='swiper-button-prev')

s_cover_group
  #covers(class='flex flex-col')
    s_cover_rep
      s_cover(name='gallery')
        +coverList('gallery')
      s_cover(name='list')
        +coverList('list')
      s_cover(name='grid')
        +coverList('grid')
      s_cover(name='zigzag')
        +coverList('zigzag')
      s_cover(name='slideshow')
        +coverSlideshow()
