s_list
  section#list(data-mode='[##_list_style_##]')
    header.header(
      x-data='{ thumb: false }'
      class='h-64 mb-10 flex justify-center items-center border-b border-b-solid border-b-h-200 dark:border-b-h-700 lg:mb-16')
      s_list_image
        .img(
          x-init='thumb = true'
          class='absolute right-0 top-0 w-full h-64 before:backdrop-blur before:content-[""] before:absolute before:right-0 before:top-0 before:w-full before:h-64 before:bg-h-900/50 before:z-10')
          img.thumb(
            src='[##_list_image_##]'
            alt=''
            class='absolute right-0 top-0 w-full h-64 z-0 object-cover')
      .info(
        :class='{ "text-h-200": thumb }'
        class='flex flex-col items-center z-20 relative mx-4 text-center text-h-800 dark:text-h-200 lg:mx-0')
        h1.tit(class='font-semibold text-2xl lg:text-3xl') [##_list_conform_##]
        span.desc(class='mt-3 empty:mt-0') [##_list_description_##]
    .posts(
      x-ref='list'
      class='w-full px-4 lg:px-0 lg:w-idx lg:mx-auto')
      s_list_rep
        +index('list')

style
  :postcss
    [data-mode=gallery] {
      .posts {
        @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4;
      }

      .post {
        @apply before:opacity-0 before:absolute before:right-0 before:top-0 before:w-full before:h-full before:z-10 before:bg-gradient-to-b before:from-transparent before:to-h-700/60;
        @apply hover:before:opacity-100 hover:before:duration-300;
        @apply relative w-full flex;

        .img {
          @apply pt-[100%] relative w-full h-full;

          .thumb {
            @apply absolute top-0 left-0 w-full h-full;
          }
        }

        .info {
          @apply opacity-0 pb-12 absolute w-full h-full flex flex-col justify-end items-center gap-y-1 text-center z-20;
          @apply hover:opacity-100 hover:duration-300;

          .tit {
            @apply px-4;

            .link {
              @apply text-h-200 text-lg font-bold;
            }
          }

          .desc {
            .date,
            .delimiter,
            .category {
              @apply text-h-200;
            }
          }

          .summary {
            @apply hidden;
          }
        }
      }
    }

style
  :postcss
    [data-mode=list] {
      .posts {
        @apply flex flex-col gap-y-6 sm:gap-y-0;
      }

      .post {
        @apply flex flex-col gap-y-4;
        @apply sm:flex-row-reverse sm:items-center sm:justify-end sm:gap-x-6 sm:h-72;
        @apply sm:border-t sm:border-solid sm:border-h-300 sm:dark:border-h-400 sm:first:border-t-0;

        .img {
          .thumb {
            @apply w-full sm:w-64 sm:h-64 max-w-none;
          }
        }

        .info {
          @apply gap-y-2 sm:grow;

          .tit {
            @apply text-xl lg:text-2xl font-bold;
          }

          .summary {
            @apply mt-1 max-h-20;
          }
        }
      }
    }

style
  :postcss
    [data-mode=grid] {
      .posts {
        @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3;
        @apply gap-6 md:gap-x-8 md:gap-y-12;
      }

      .post {
        @apply flex flex-col gap-y-4;

        .img {
          @apply pt-[66.66%] relative;

          .thumb {
            @apply absolute top-0 left-0 w-full h-full;
          }
        }

        .info {
          @apply gap-y-2;

          .tit {
            @apply text-xl font-bold;
          }

          .summary {
            @apply mt-1 max-h-14;
          }
        }
      }
    }

style
  :postcss
    [data-mode=zigzag] {
      .posts {
        @apply flex flex-col gap-y-24 lg:gap-y-28;
      }

      .post {
        @apply relative flex flex-col gap-y-4 lg:flex-row;

        &:last-child::before {
          @apply hidden;
        }

        &::before {
          @apply content-[''] absolute w-0.5 h-12 lg:h-16 bg-h-300 dark:bg-h-600;
          @apply top-[calc(100%+theme(spacing.6))] left-[calc(100%/2)] lg:top-[calc(100%+theme(spacing.6))] lg:left-[calc(theme('screens.lg')/2)];
        }

        .img {
          .thumb {
            @apply relative z-10 object-cover w-full lg:max-w-none;
            @apply lg:w-[calc(theme(spacing.96)+theme(spacing.20)+theme(spacing.3))] lg:h-[calc(theme(spacing.72)+theme(spacing.7))];
          }
        }

        .info {
          @apply gap-y-2 p-10 justify-center lg:p-16 bg-h-200 dark:bg-h-700;

          .tit {
            @apply text-xl lg:text-2xl font-bold;
          }

          .summary {
            @apply mt-1 max-h-20;
          }
        }

        &:nth-child(2n+1) {
          .img {
            @apply lg:-translate-y-6 lg:translate-x-6;
          }
        }

        &:nth-child(2n) {
          @apply lg:flex-row-reverse;

          .img {
            @apply lg:-translate-y-6 lg:-translate-x-6;
          }
        }
      }
    }

style
  :postcss
    [data-mode=slideshow] {
      .post {
        @apply before:absolute before:right-0 before:top-0 before:w-full before:h-screen before:bg-h-900/30 before:z-10;
        @apply flex justify-center items-center;

        .img {
          .thumb {
            @apply w-screen h-screen object-cover;
          }
        }

        .info {
          @apply absolute w-screen h-screen flex flex-col justify-center items-center gap-y-2 text-center z-20;

          .tit {
            @apply px-4;

            .link {
              @apply text-h-200 text-3xl font-bold;
            }
          }

          .desc {
            .date,
            .delimiter,
            .category {
              @apply text-h-200;
            }
          }

          .summary {
            @apply hidden;
          }
        }
      }
    }
