s_list
  #list(data-mode='[##_list_style_##]')
    header.header(
      x-data='{ thumb: false }'
      class='relative flex justify-center items-center border-b border-b-solid border-b-h-300 h-48 mb-12 lg:h-64 lg:mb-16 dark:border-b-h-600')
      s_list_image
        .img(
          x-init='thumb = true'
          class='absolute right-0 top-0 w-full h-64 before:backdrop-blur before:content-[""] before:absolute before:right-0 before:top-0 before:w-full before:h-64 before:bg-h-900/30 before:z-10')
          img.thumb(
            src='[##_list_image_##]'
            alt=''
            class='absolute right-0 top-0 w-full h-64 z-0 object-cover')
      .info(
        :class='thumb? "text-h-200" : "text-h-800"'
        class='max-w-[80%] flex flex-col items-center z-20 relative text-center dark:text-h-200')
        h1.tit(class='font-semibold text-2xl lg:text-3xl') [##_list_conform_##]
        span.desc(class='leading-relaxed mt-2 empty:mt-0') [##_list_description_##]
    .posts(x-ref='list')
      s_list_rep
        +index('list')

style
  :postcss
    [data-mode*=gallery],
    [data-mode=list],
    [data-mode=grid],
    [data-mode=zigzag] {
      .posts {
        @apply w-full px-4 lg:px-0 lg:w-idx lg:mx-auto;
      }
    }

    [data-mode=slideshow] {
      .posts {
        @apply w-full h-screen;
      }
    }

style
  :postcss
    [data-mode*=gallery] {
      .posts {
        @apply grid gap-2 grid-cols-2 sm:grid-cols-3 md:grid-cols-2 lg:grid-cols-3;
      }

      .post {
        @apply before:opacity-0 before:absolute before:right-0 before:top-0 before:w-full before:h-full before:z-10 before:bg-gradient-to-b before:from-transparent before:to-h-700/60;
        @apply hover:before:opacity-100 hover:before:duration-300;
        @apply relative w-full flex;

        .img {
          @apply pt-[100%] relative w-full h-full;

          .thumb {
            @apply absolute top-0 left-0 w-full h-full;
          }
        }

        .info {
          @apply opacity-0 absolute w-full h-full flex flex-col justify-end items-center gap-y-6 text-center z-20 pb-6;
          @apply hover:opacity-100 hover:duration-300;

          .tit {
            @apply px-6;

            .link {
              @apply text-h-200 text-xl sm:text-lg md:text-2xl font-semibold;
            }
          }

          .desc {
            .date {
              @apply text-xs text-h-200;
            }
          }

          .delimiter,
          .category,
          .summary {
            @apply hidden;
          }
        }
      }
    }

style
  :postcss
    [data-mode*=poster] {
      .post {
        .img {
          @apply pt-[150%];
        }

        .info {
          .tit {
            .link {
              @apply text-xl sm:text-lg md:text-2xl;
            }
          }
        }
      }
    }

style
  :postcss
    [data-mode=list] {
      .posts {
        @apply flex flex-col gap-y-6 sm:gap-y-0;
      }

      .post {
        @apply flex flex-col gap-y-4;
        @apply sm:flex-row-reverse sm:items-center sm:justify-end sm:gap-x-8 sm:h-72;
        @apply sm:border-t sm:border-solid sm:border-h-300 sm:dark:border-h-600 sm:first:border-t-0;

        .img {
          .thumb {
            @apply w-full sm:w-64 sm:h-64 max-w-none;
          }
        }

        .info {
          @apply gap-y-1 sm:grow;

          .tit {
            @apply text-xl lg:text-2xl font-bold;
          }

          .summary {
            @apply mt-2 max-h-20;
          }
        }
      }
    }

style
  :postcss
    [data-mode=grid] {
      .posts {
        @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3;
        @apply gap-6 md:gap-x-8 md:gap-y-12;
      }

      .post {
        @apply flex flex-col gap-y-4;

        .img {
          @apply pt-[66.66%] relative;

          .thumb {
            @apply absolute top-0 left-0 w-full h-full;
          }
        }

        .info {
          @apply gap-y-1;

          .tit {
            @apply text-xl font-bold;
          }

          .summary {
            @apply mt-2 max-h-14;
          }
        }
      }
    }

style
  :postcss
    [data-mode=zigzag] {
      .posts {
        @apply flex flex-col gap-y-6 lg:gap-y-0;
      }

      .post {
        @apply relative flex flex-col gap-y-4 lg:flex-row;

        .img {
          @apply lg:w-1/2;

          .thumb {
            @apply relative z-10 object-cover w-full lg:max-w-none;
          }
        }

        .info {
          @apply gap-y-1 justify-center lg:w-1/2;

          .tit {
            @apply text-xl lg:text-2xl font-bold;
          }

          .summary {
            @apply mt-2 max-h-20;
          }
        }

        &:nth-child(2n+1) {
          .info {
            @apply lg:pl-12;
          }
        }

        &:nth-child(2n) {
          @apply lg:flex-row-reverse;

          .info {
            @apply lg:pr-12;
          }
        }
      }
    }

style
  :postcss
    [data-mode=slideshow] {
      .post {
        @apply before:absolute before:right-0 before:top-0 before:w-full before:h-screen before:bg-h-900/20 before:z-10;
        @apply flex justify-center items-center;

        .img {
          .thumb {
            @apply w-screen h-screen object-cover;
          }
        }

        .info {
          @apply absolute w-screen h-screen flex flex-col justify-center items-center gap-y-1 text-center z-20;

          .tit {
            @apply px-4;

            .link {
              @apply text-h-200 text-3xl font-bold;
            }
          }

          .desc {
            .date,
            .delimiter,
            .category {
              @apply text-h-200;
            }
          }

          .summary {
            @apply hidden;
          }
        }
      }
    }
