s_article_protected
  s_permalink_article_rep
    #protected-permalink.permalink
      header.header(class='border-b border-b-solid border-b-h-300 mb-10 lg:mb-16 dark:border-b-h-600')
        .info(class='h-h min-h-[theme(spacing.h)] flex flex-col justify-center items-center gap-y-1 z-20 relative mx-4 dark:text-h-200 lg:mx-0')
          h1.tit(class='text-center font-bold text-3xl text-h-800 dark:text-h-200') [##_article_rep_title_##]
          .desc(class='flex gap-x-1 text-sm')
            time.date [##_article_rep_date_##]
            span.delimiter ·
            a.category(href='[##_article_rep_category_link_##]') [##_article_rep_category_##]
      .body(class='flex flex-col items-center gap-y-4 w-full px-4 lg:px-0 lg:max-w-screen-lg lg:w-pem lg:mx-auto')
        p.tit(class='text-center leading-7 text-h-800 dark:text-h-200')
          | 보호되어 있는 글입니다.
          br
          | 내용을 보시려면 비밀번호를 입력하세요.
        input.input(
          type='password'
          maxlength='16'
          id='[##_article_password_##]'
          name='[##_article_password_##]'
          onkeydown='if (event.keyCode == 13)[##_article_dissolve_##]'
          placeholder='비밀번호'
          class='rounded-md inline-block h-10 border-0 text-sm px-3 w-48 outline-none bg-h-200 text-h-500 dark:bg-h-700 dark:text-h-200')
