header#header(
  x-ref='header'
  data-mode='[##_var_mode_##]'
  class='px-4 mb-10 lg:px-0 lg:mb-16')
  #{`s_${type}_rep_thumbnail`}
    .img(class='absolute right-0 top-0 w-full before:content-[""] before:absolute before:right-0 before:top-0 before:w-full before:bg-h-900/20 before:z-10')
      img.thumb(
        src=`[##_${type}_rep_thumbnail_raw_url_##]`
        alt=''
        class='absolute right-0 top-0 w-full h-full z-0 object-cover')
  .info(class='border-b border-solid border-b-h-300 dark:border-b-h-600 min-h-[theme(spacing.h)] flex flex-col justify-center items-center gap-y-1 relative z-20 text-h-800 dark:text-h-200')
    h1.tit(class='text-center font-bold text-3xl max-w-screen-lg') #{`[##_${type}_rep_title_##]`}
    .desc(class='flex gap-x-1 text-sm')
      time.date #{`[##_${type}_rep_date_##]`}
      span.delimiter ·
      unless hasCategory
        case type
          when 'notice'
            a.category(class='/notice') 공지사항
      else
        a.category(href='[##_article_rep_category_link_##]') [##_article_rep_category_##]
      if hasCategory
        include Header/Admin

style(once='header-simple')
  :postcss
    #tt-body-page {
      #header[data-mode=simple] {
        .img {
          @apply hidden;
        }

        .info {
          @apply h-h;
        }
      }
    }

style(once='header-thumbnail')
  :postcss
    #tt-body-page {
      #header[data-mode=thumbnail] {
        @apply relative;

        .img {
          @apply h-h before:h-h;

          & + .info {
            @apply h-h text-h-200 border-0;
          }
        }
      }
    }

style(once='header-screen')
  :postcss
    #tt-body-page {
      #header[data-mode=screen] {
        @apply relative;

        .img {
          @apply h-screen before:h-screen;

          & + .info {
            @apply h-screen text-h-200 border-0;
          }
        }
      }
    }
