mixin notify(type, label, pos)
  #{`s_article_${type}`}
    a.permalink__notify(href=`[##_article_${type}_link_##]` class='uk-box-shadow-medium' id=type)
      #{`s_article_${type}_thumbnail`}
        .thumbnail
          img(src=`[##_article_${type}_thumbnail_link_##]`)
          //- img(src='https://t1.daumcdn.net/tistory_admin/static/mobile/m640/img_relation.png')
      .metainfo
        .description #{label}
        .title #{`[##_article_${type}_title_##]`}

  script.
    /**
     * Set timer for Notification
     */
    $(document).ready(() => setTimeout(() => h.notify('#' + '#{type}', `#{pos}`, 15000), 3000))

+notify('next', '다음 글', 'bottom-right')
+notify('prev', '이전 글', 'bottom-left')

style
  :stylus
    .permalink__notify
      display none
      @media screen and (max-width: 1600px)
        display none !important

style
  :stylus
    $bottom = 20px
    $sidePosition = 20px

    .uk-notification
      bottom $bottom
      width initial
      z-index 9998
      &.uk-notification-bottom-left
        left $sidePosition
      &.uk-notification-bottom-right
        right $sidePosition
      > *
        display inline-block
      .uk-notification-message
        background none
        padding 0
        z-index 9998
        .permalink__notify
          display flex
          .thumbnail
            height 100px
            overflow hidden
            img
              height 100%
              max-width 178px
          .metainfo
            background-color #f8f8f8
            padding 20px
            display flex
            flex-direction column
            justify-content center
            max-width 182px
            box-sizing border-box
            min-height 100px
            *
              color black !important
              overflow hidden
              white-space nowrap
              text-overflow ellipsis
            .title
              font-size .96rem
              font-weight 500
            .description
              font-size .8rem
              margin-bottom 3px
              color alpha(black, .7) !important

style
  :stylus
    html[data-theme='dark']
      .uk-notification
        .uk-notification-message
          .metainfo
            background-color #353638
            *
              color white !important
            .description
              color alpha(white, .9) !important
