mixin notify(type, label, pos)
  #{`s_article_${type}`}
    a.notify(href=`[##_article_${type}_link_##]` class='uk-box-shadow-medium' id=type)
      #{`s_article_${type}_thumbnail`}
        .thumbnail
          img(src=`[##_article_${type}_thumbnail_link_##]`)
          //- img(src='https://t1.daumcdn.net/tistory_admin/static/mobile/m640/img_relation.png')
      .metainfo
        .description #{label}
        .title #{`[##_article_${type}_title_##]`}

  script.
    /**
     * Set timer for Notification
     */
    setTimeout(() => h.notify('#' + '#{type}', `#{pos}`, 15000), 3000)

s_if_var_notify
  +notify('next', '다음 글', 'bottom-right')
  +notify('prev', '이전 글', 'bottom-left')

style
  :stylus
    .notify
      display none
      @media screen and (max-width: 1600px)
        display none !important

style
  :stylus
    .uk-notification
      bottom 20px
      width initial
      z-index 9999
      &.uk-notification-bottom-left
        left 20px
      &.uk-notification-bottom-right
        right 20px
      > *
        display inline-block
      .uk-notification-message
        background none
        padding 0
        z-index 9999
        .notify
          display flex
          .thumbnail
            height 100px
            overflow hidden
            img
              height 100%
              max-width 178px
          .metainfo
            background-color #f8f8f8
            padding 20px
            display flex
            flex-direction column
            justify-content center
            max-width 182px
            box-sizing border-box
            min-height 100px
            *
              color black !important
              overflow hidden
              white-space nowrap
              text-overflow ellipsis
            .title
              font-size .96rem
              font-weight 500
            .description
              font-size .8rem
              margin-bottom 3px
              color alpha(black, .7) !important

style
  :stylus
    html[data-theme='dark']
      .uk-notification
        .uk-notification-message
          .metainfo
            background-color alpha(black, .8)
            *
              color white !important
            .description
              color alpha(white, .9) !important
