script.
  /**
   * Notification
   *
   * @param {jQuery} $notify
   * @param {string} pos
   * @param {number} timeout
   */
  function notify ($notify, pos, timeout) {
    if ($notify.length > 0) {
      const $thumbnail = $notify.find('.thumbnail')
      if ($thumbnail.children('img[src$="img_relation.png"]').length > 0) {
        $thumbnail.remove()
      }
      UIkit.notification($notify.get(0).outerHTML, { pos, timeout })
      $notify.remove()
    }
  }

mixin notify(type, label, pos)
  #{`s_article_${type}`}
    a.notify(href=`[##_article_${type}_link_##]` class='uk-box-shadow-medium' id=type)
      #{`s_article_${type}_thumbnail`}
        .thumbnail
          img(src=`[##_article_${type}_thumbnail_link_##]`)
          //- img(src='https://t1.daumcdn.net/tistory_admin/static/mobile/m640/img_relation.png')
      .metainfo
        .description #{label}
        .title #{`[##_article_${type}_title_##]`}

  script.
    // Notification initialize
    setTimeout(() => notify($('#' + '#{type}'), `#{pos}`, 15000), 3000)

s_if_var_notify
  +notify('next', '다음 글', 'bottom-right')
  +notify('prev', '이전 글', 'bottom-left')

style
  :stylus
    .notify
      display none
      @media screen and (max-width: 1680px)
        display none !important

style
  :stylus
    .uk-notification
      bottom 20px
      width initial
      z-index 9999
      &.uk-notification-bottom-left
        left 20px
      &.uk-notification-bottom-right
        right 20px
      > *
        display inline-block
      .uk-notification-message
        background none
        padding 0
        z-index 9999
        .notify
          display flex
          .thumbnail
            height 100px
            overflow hidden
            img
              height 100%
              max-width 178px
          .metainfo
            background #f8f8f8
            padding 20px
            display flex
            flex-direction column
            justify-content center
            max-width 182px
            box-sizing border-box
            min-height 100px
            *
              color black !important
              overflow hidden
              white-space nowrap
              text-overflow ellipsis
            .title
              font-size .96rem
              font-weight 500
            .description
              font-size .8rem
              margin-bottom 3px
              color alpha(black, .7) !important
