.sidebar-element
  div(class='text-center flex flex-col items-center my-4')
    img(
      src='[##_image_##]'
      width='100'
      height='100'
      alt='[##_blogger_##]'
      class='rounded-full')
    div
      a.link_tit(
        href='[##_blog_link_##]'
        class='inline-block pt-4 pb-1 font-medium') [##_title_##]
    div(class='text-h-400 text-sm') [##_blogger_##]
