li#profile.el(class='text-center flex flex-col items-center my-4')
  img.thumb(
    src='[##_image_##]'
    width='96'
    height='96'
    alt='[##_blogger_##]'
    class='rounded-full w-24 h-24 object-cover')
  .tit
    a.link(
      href='[##_blog_link_##]'
      class='link_tit text-h-800 dark:text-h-200 inline-block pt-4 pb-1 font-medium') [##_title_##]
  .blogger(class='text-h-400 text-sm') [##_blogger_##]
