.sidebar-element
  div
    h2 최근 글
    ul(class='flex flex-col gap-y-2')
      s_rctps_rep
        li(class='flex justify-between text-sm')
          div(class='text-overflow-hidden')
            a(href='[##_rctps_rep_link_##]') [##_rctps_rep_title_##]
            div(class='text-h-400 mt-1 text-xs') [##_rctps_rep_simple_date_##]
          s_rctps_rep_thumbnail
            img.lazyload(
              class='w-16 h-11 object-cover ml-3 bg-h-100'
              data-src='[##_rctps_rep_thumbnail_##]'
              data-sizes='auto'
              width='64'
              height='44'
              alt='[##_rctps_rep_title_##]')
