.sidebar-element
  s_search
    div(class='flex items-center gap-x-3 border-box px-4 py-3 rounded-md bg-h-300 text-h-300 dark:bg-h-600')
      label(for='search')
        span(class='text-[0]') 검색
        i(class='text-base fa-solid fa-magnifying-glass')
      input#search(
        type='text'
        name='[##_search_name_##]'
        value='[##_search_text_##]'
        onkeypress='if (event.keyCode == 13) { [##_search_onclick_submit_##] }'
        class='text-sm text-overflow-hidden border-none outline-none bg-h-300 dark:bg-h-600')
