mixin formGuestControl(type)
  .form__guest
    .name
      label#name-label(for='name') 이름
      input#name(type='text' name=`[##_${type}_input_name_##]` value='[##_guest_name_##]')
    .password
      label#password-label(for='password') 암호
      input#password(type='password' maxlength='8' name=`[##_${type}_input_password_##]` value='[##_guest_password_##]')

mixin form(type)
  #{`s_${type}_input_form`}
    div(class=`${type}-form content__form`)
      .form__shadow
        textarea#comment(name=`${type === 'guest' ? '[##_guest_textarea_body_##]' : '[##_rp_input_comment_##]'}`)
        div(class=`${type}-form-control form-control`)
          if process.env.NODE_ENV === 'development'
            .form__control__inner
              +formGuestControl(type)
          else
            #{`s_${type}_member`}
              .form__control__inner
                #{type === 'guest' ? 's_guest_form' : 's_rp_guest'}
                  +formGuestControl(type)
          .form__submit
            input#secret(type='checkbox' name=`[##_${type}_input_is_secret_##]`)
            label#secret-label(for='secret')
            a(href='#' onclick=`[##_${type}_onclick_submit_##]`)
