div(class='border-t border-b border-dotted border-h-400 mt-6 py-8 flex gap-x-5 items-center')
  img.lazyload(
    data-src='[##_image_##]'
    data-sizes='auto'
    width='80'
    height='80'
    alt='[##_blogger_##]'
    class='rounded-full w-20 h-20')
  div(class='flex flex-col gap-y-1')
    div(class='text-h-800 dark:text-h-200 font-bold') [##_blogger_##]
    div(class='leading-7 text-sm text-h-400') [##_desc_##]

style
  :postcss
    div[data-tistory-react-app="Namecard"] {
      @apply hidden;
    }