mixin comment(type, replyable=true)
  .wrap(class=`[##_${type}_rep_class_##] flex flex-col gap-y-4 relative before:content-[''] before:absolute before:w-[1px] before:h-[calc(100%-65px)] before:left-[calc(theme(spacing.12)/2)] before:top-16 before:bg-h-300 dark:before:bg-h-600`)
    .author
      .profile(class='flex items-center gap-x-4')
        img.thumb(
          alt=''
          data-src=`[##_${type}_rep_logo_##]`
          data-sizes='auto'
          width='48'
          height='48'
          class='lazyload rounded-full object-cover w-12 h-12')
        .info
          .name(class='text-sm font-bold text-h-600 dark:text-h-200 [&_img]:hidden') #{`[##_${type}_rep_name_##]`}
          time.date(class='text-h-400 text-xs') #{`[##_${type}_rep_date_##]`}
    .desc(class='pl-16 leading-7 text-sm text-h-500 dark:text-h-300') #{`[##_${type}_rep_desc_##]`}
    .control(class='pl-16 flex gap-x-1 text-h-400 text-xs')
      button.delete(onclick=`[##_${type}_rep_onclick_delete_##]`) 수정/삭제
      if replyable
        button.reply(onclick=`[##_${type}_rep_onclick_reply_##]`) 댓글쓰기
        template(x-if='skinOptions.foldableReply && children.length > 0')
          button.more(
            @click.prevent='open = ! open'
            x-html='`댓글보기(${children.length})`')

mixin replyList(type, rType, reverse=false)
  #{`s_${type}_container`}
    #comments(class='mt-12')
      ol.comments(class='flex gap-y-5' class=reverse ? 'flex-col-reverse' : 'flex-col')
        #{`s_${type}_rep`}
          li.comment(
            x-data='{ open: ! skinOptions.foldableReply, children: [] }'
            :class='{ "[&>.wrap]:before:hidden": children.length === 0 }'
            class='flex flex-col gap-y-5 border-b border-h-300 dark:border-h-600 pb-5')
            +comment(type)
            #{`s_${rType}_container`}
              ol.replies(
                x-show='open'
                x-init='children = $el.querySelectorAll(".reply")'
                class='flex flex-col gap-y-5')
                #{`s_${rType}_rep`}
                  li.reply(class='[&:last-child>div]:before:hidden')
                    +comment(type, false)

style
  :postcss
    #tt-body-page,
    #tt-body-guestbook {
      #comments {
        .tt_more_preview_comments_wrap {
          @apply my-4 text-sm bg-h-700 text-h-200 rounded-xl py-3 px-4;

          &:hover {
            @apply bg-h-600;
          }

          &::after {
            @apply font-awesome font-bold content-['\f0ab'] ml-1;
          }
        }

        .tt-txt-mention {
          @apply hidden;
        }

        .tistoryProfileLayerTrigger {
          @apply hidden;
        }
      }
    }
