mixin formGuestControl(type)
  div(class='flex gap-x-2 mr-auto')
    div(class='flex gap-x-2 text-xs text-h-500 dark:text-h-200')
      label(for='name') 이름
      input#name(
        autocomplete='username'
        type='text'
        name=`[##_${type}_input_name_##]`
        value='[##_guest_name_##]'
        class='border-0 inline-block outline-none w-16 lg:w-32 bg-h-200 dark:bg-h-700')
    div(class='flex gap-x-2 text-xs text-h-500 dark:text-h-200')
      label(for='password') 암호
      input#password(
        autocomplete='current-password'
        type='password'
        maxlength='8'
        name=`[##_${type}_input_password_##]`
        value='[##_guest_password_##]'
        class='border-0 inline-block outline-none w-16 lg:w-32 bg-h-200 dark:bg-h-700')

mixin form(type)
  #{`s_${type}_input_form`}
    div(
      x-data
      x-show='/tistory\\.com$/.test(location.hostname)'
      class='p-5 w-full overflow-hidden mt-9 rounded-lg box-border h-32 lg:h-48 relative bg-h-200 dark:bg-h-700')
      div(class='box-border flex flex-col justify-between h-full gap-y-3')
        label(
          for='text'
          class='text-hidden') 댓글
        textarea#text(
          name=`${type === 'guest' ? '[##_guest_textarea_body_##]' : '[##_rp_input_comment_##]'}`
          class='border-0 resize-none p-0 pr-5 h-full overflow-x-hidden overflow-y-scroll text-sm box-border outline-none w-[calc(100%+theme(spacing.10))] bg-h-200 dark:bg-h-700')
        div(class='flex items-end justify-end')
          if process.env.NODE_ENV === 'development'
            +formGuestControl(type)
          else
            #{`s_${type}_member`}
              #{type === 'guest' ? 's_guest_form' : 's_rp_guest'}
                +formGuestControl(type)
          div(
            x-data='{ secret: false }'
            class='flex items-end gap-x-4')
            input#secret(
              type='checkbox'
              name=`[##_${type}_input_is_secret_##]`
              class='hidden')
            label#secret-label(
              for='secret'
              @click='secret = ! secret')
              span(class='text-hidden') 비밀글
              i(
                class='fa-solid'
                :class='{ "fa-lock": secret, "fa-unlock": ! secret }')
            a(
              href='#'
              onclick=`[##_${type}_onclick_submit_##]`)
              span(class='text-hidden') 댓글쓰기
              i(class='fa-solid fa-arrow-circle-down text-3xl leading-none text-h-900 dark:text-h-200')
