.item
  a.img(href=`[##_${type}_rep_link_##]`)
    #{`s_${type}_rep_thumbnail`}
      img.thumbnail.lazyload(data-src=`[##_${type}_rep_thumbnail${type === 'list' ? '' : '_url'}_##]` data-sizes='auto')
  .description
    if hasCategory
      .category: a(href=`[##_${type}_rep_category_link_##]`) #{`[##_${type}_rep_category_##]`}
    h2.title: a(href=`[##_${type}_rep_link_##]`) #{`[##_${type}_rep_title_##]`}
    .date
      time #{`[##_${type}_rep_${type === 'list' ? 'regdate' : 'date'}_##]`}
    p.summary #{`[##_${type}_rep_summary_##]`}
