.post
  a.link(href=`[##_${type}_rep_link_##]`)
  .content
    #{`s_${type}_rep_thumbnail`}
      .img
        img.thumb(
          data-src=`[##_${type}_rep_thumbnail${type === 'list' ? '' : '_url'}_##]`
          data-sizes='auto'
          alt=''
          class='lazyload')
    .info
      .tit #{`[##_${type}_rep_title_##]`}
      .desc
        time.date #{`[##_${type}_rep_${type === 'list' ? 'regdate' : 'date'}_##]`}
        if hasCategory
          span.delimiter ·
          a.category #{`[##_${type}_rep_category_##]`}
      .summary #{`[##_${type}_rep_summary_##]`}
